::-webkit-scrollbar {
    display: none;
}

ul {
    text-align: center;
    list-style-position: inside;
    border: 1px;
    padding: 0;
}

.container {
    overflow-y: hidden;
    overflow-x: hidden;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

 .top_img {
     margin: 0;
     padding: 0;
 }

 .parallax {
   /* The image used */
   background-image: url("borg_port.webp");

   /* Set a specific height */
   /*min-height: 100vh;*/
   height: auto;
   min-height: 100vh;

   width: 100%;
   display: grid;
   -webkit-filter: brightness(1);
   filter: brightness(1);

   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }



body {
    font-family: 'Old Standard TT', serif;
}

.main-overlay {
    position: absolute;
    top: 30%;
    height: 200px;
    width: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: .25rem;
    background: rgba(0,0,0, 0.3);
}

.main-pos {
    width: 100%;
    color: rgb(240,240,240);
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-header {
    text-align: center;
    font-size: 60px;
    font-style: Bold;
    top: 40%;
}

.main-sub {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 30px;
    font-style: Bold;
    top: 80%;
}

.container {
    height: 100%;
    width: 60%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.box {
    justify-content: center;
    padding: 0% 15% 5%;
}

.text-header {
    text-align: center;
    font-size: 50px;
    padding-top: 5%;
}
.text-block {
    text-align: center;
    padding-bottom: 10%;
}

#topBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: black; /* Set a background color */
  opacity: 0.5;
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  height: 50px;
  width: 50px;
}

#topBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
